/*
==================================================

MEDIA QUERIES

==================================================
*/

/*
--------------------------------------------------
Small Screens (320 pixels wide)
-------------------------------------------------- */
@media only screen and (min-width: 320px) {
  .main-nav {
    padding: 0;
    border-top: none;
  }

  .main-nav li {
    float: left;
    border-top: 1px solid #e4e4e4;
    width: 50%;
    padding-bottom: 0px;
  }

  .main-nav li a {
    padding: 10px 20px;
    border-radius: 0;
  }

  .main-nav li:nth-child(odd) {
    border-right: 1px solid #e4e4e4;
    margin-right: -1px;
  }
}

/*
--------------------------------------------------
Small Screens (480 pixels wide)
-------------------------------------------------- */
@media only screen and (min-width: 480px) {

  #nav-directory .panel ul li {
    width: 10%;
  }
}

/*
--------------------------------------------------
Small Screens (600 pixels wide)
-------------------------------------------------- */
@media only screen and (min-width: 600px) {

  .global-nav a span {
    display: inline;
  }

  #shortcuts-item,
  #utility-nav li a {
    text-align: left;
  }

  #shortcuts-item:before,
  #nav-search a:before,
  #nav-directory a:before,
  #nav-contact a:before {
    font-size: 2em;
    margin-right: .25em;
  }

  /* Footer
  -------------------------------------------------- */
  .organization-info {
    float: left;
    width: 50%;
  }

  .footer-nav {
    float: left;
    width: 50%;
    padding-top: 20px;
  }

  .nav-group {
    float: left;
  }

  .site-info {
    float: left;
  }

  .grid-nav li {
    float: left;
    width: 50%;
  }
}

/*
--------------------------------------------------
Small Screens (749 pixels wide max)
-------------------------------------------------- */
@media only screen and (max-width: 749px) {

  #shortcuts-nav ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #333;
    overflow: hidden;
    z-index: 20;
  }

  #shortcuts-nav.open ul {
    display: block;
  }

  #shortcuts-nav.open #shortcuts-item {
    background: #333;
  }

  #shortcuts-nav ul li {
    width: 100%;
    border-top: 1px solid #444;
  }

  #shortcuts-nav.open #shortcuts-item:hover,
  #shortcuts-nav ul li a:hover {
    background: #222;
  }

  #shortcuts-nav.open #shortcuts-item:active,
  #shortcuts-nav ul li a:active {
    background: #000;
  }

}

/*
--------------------------------------------------
Medium Screens (750 pixels wide)
-------------------------------------------------- */
@media only screen and (min-width: 750px) {

  /*
  --------------------------------------------------
  Default Page Structure
  -------------------------------------------------- */
  header,
  section,
  #supplementary,
  .secondary-content,
  .global-nav ul.menu,
  .footer-nav {
    max-width: 1120px;
    margin: 0 auto;
  }

  #section-info {
    max-width: 1080px;
  }

  #shortcuts-nav {
    width: auto;
  }

  #shortcuts-item {
    display: none;
  }

  #shortcuts-nav .panel {
    background: none;
    position: static;
  }

  .global-nav #shortcuts-nav .panel a:hover {
    background-color: #333;
  }

  .global-nav #shortcuts-nav .panel a:active {
    background-color: #000;
  }

  #utility-nav {
    width: auto;
    float: right;
  }

  #utility-nav .nav {
    width: auto;
  }

  #nav-search,
  #nav-directory,
  #nav-contact {
    width: auto;
  }

  #nav-search .panel,
  #nav-contact .panel {
    max-width: 1120px;
    margin: 0 auto;
  }

  #nav-search input {
    margin-top: 0;
    float: left;
  }

  #nav-search input[type='text'] {
    width: 79%;
    margin-right: 1%;
    margin-bottom: 0;
  }

  #nav-search .button {
    width: 20%;
  }

  #nav-directory {
    position: relative;
  }

  #nav-directory .panel {
    width: 320px;
    left: auto;
    right: 0;
  }

  #nav-directory .panel ul li {
    width: 20%;
  }

  #nav-contact fieldset {
    float: left;
    width: 48.5%;
    margin-right: 1.5%;
    margin-bottom: 0;
  }

  #email-subject {
    margin-bottom: 0;
  }

  #nav-contact textarea {
    width: 50%;
  }

  #nav-contact .button {
    width: 50%;
  }

  .main-nav {
    font-weight: normal;
    padding-left: 40px;
    border-top: 1px solid #e4e4e4;
  }

  .main-nav li {
    border: none;
    width: auto;
  }

  .main-nav li:nth-child(odd) {
    border-right: none;
    margin-right: 0;
  }

  .main-nav a {
    padding: 3em 2em;
    border-bottom: 6px solid #fff;
  }

  .main-nav a:hover {
    border-bottom: 6px solid #ddd;
  }

  .main-nav li.current a {
    border-bottom: 6px solid #0098c1;
  }

  /* Content
  -------------------------------------------------- */
  #content {
    padding: 40px;
  }

  .box {
    -webkit-box-shadow: 0 0 7px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0 0 7px rgba(50, 50, 50, 0.2);
    box-shadow: 0 0 7px rgba(50, 50, 50, 0.2);
    background: #ffffff;
    position: relative;
    margin-bottom: 40px;
  }

  .main-content {
    float: left;
    width: 67%;
  }

  .main-content .page-content {
    padding: 0 40px 40px;
  }

  .section-aside {
    float: right;
    width: 33%;
  }

  .section-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .section-nav .box-title {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 0;
  }

  .section-nav .box-title {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  /* Grid
  -------------------------------------------------- */
  .grid-nav li {
    float: left;
    width: 25%;
  }
}

/*
--------------------------------------------------
Large Screens (980 pixels wide)
-------------------------------------------------- */
@media only screen and (min-width: 980px) {


  /* Header
  -------------------------------------------------- */
  .branding {
    float: left;
  }

  .main-nav {
    font-size: 1em;
    float: right;
    border-top: none;
  }

  .main-nav li a {
    padding: 2.5em 1em;
  }

  /* Content
  -------------------------------------------------- */
  .main-content {
    width: 75.892857142857%;
  }

  .section-aside {
    width: 24.107142857143%;
  }



  /* Footer
  -------------------------------------------------- */
  .organization-info {
    float: left;
    width: 25%;
  }

  .footer-nav {
    width: 75%;
    padding: 0;
  }

  .nav-group {
    float: left;
    width: 33.3333333333%;
  }

  .nav-group .container {
    padding: 20px;
  }

  /* Grid
  -------------------------------------------------- */
  .grid-nav li {
    float: left;
    width: 12.5%;
  }
}
